*,html{
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

body{
    background-image: url(/images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: contain;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;    
}

.conteudo{
    background-color: white;
    border-radius: 20px;
    height: 500px;
    width: 300px;
    margin: 20%
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hero{
    width: 100%;
}

.plano-container{
    display: flex;
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

.titulo{
    color:hsl(223, 47%, 23%);
    font-weight: bold;
    text-align: center;
}

.texto{
    text-align: center;
}

button{
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    border: none;
    width: 180px;
    height: 40px;
    color: white;
}

.botão{
    text-align: center;
}
